header{ background-color: black;
}

h3#subPpal { font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 20px;
    color: blanchedalmond;
}

h3.subSec { font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 20px;
}

h2 { text-align: center;
    color: brown;}

p.centro{text-align: center;}

nav.barraNav { background-color: orange;}

nav.cabeza {color: blanchedalmond;
            margin: 5px 40px;
}

 #listaNav li { margin: 5px 40px;
    color: white; 
}

section#imagen { background-image: url(../img/plato.png);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: center;
}

button#inicial   {height:20px; 
        width:100px; 
        margin: -20px -50px; 
        position:relative;
        left:50%;
}

h1{ text-align: left;
margin: 5px 45px;}

#listaProd li { 
    color: chocolate; 
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

img.imgProd{ width: 300px; height: 300px;
            display: block;
}

img.pie{ width: 30px; height: 30px;
    background:grey;
    color: #1F7F6B;
    font-size: 30px;
    padding: 5px;
}

footer {background-color: sienna;}

section#pie { background-color:rgb(124, 99, 28);
    background-image: url(../img/catydog.png);
    background-repeat: no-repeat;
    justify-content: center;
    height: 50px;
}